<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @shop.title %>
</p>

<p>
  <b>Count:</b>
  <%= @shop.count %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
